aiogram==3.0.0
aiohttp>=3.8.4
pandas>=1.5.0
numpy>=1.24.0
python-dotenv>=1.0.0
lightgbm>=3.3.5
scikit-learn>=1.2.0
tensorflow>=2.12.0
joblib>=1.2.0
nltk>=3.8.1
vectorbt>=0.26.2
vectorbt-proxy==0.1.0
vectorbt-portfolio==0.1.0
matplotlib>=3.6.0
joblib
