# Основные зависимости
pandas==2.1.4
numpy==1.25.2
python-dotenv==1.0.0
python-telegram-bot==20.7
ccxt==4.2.38

# Анализ данных
scikit-learn==1.3.2
scipy==1.11.4

# Утилиты
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0.1
